<ion-app>
  <ion-split-pane when="sm" content-id="main-content">
    <ion-menu content-id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header> Navigate </ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item button>
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label> Home </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>Detalhes séries</ion-title>
        </ion-toolbar>
      </ion-header>
   
      <ion-content [fullscreen]="true">
        <ion-card-header>
          <ion-card-title>Brooklyn Nine-Nine</ion-card-title>
          <ion-card-content>
            <ion-badge style="background-color: brown;border-radius: 12px">
              <ion-img src ="https://t.ctcdn.com.br/saPeg184cPZ5a_L4eZXWnafgnAk=/1200x675/smart/i11043.jpeg"></ion-img>
            </ion-badge>
            <div class="container">
              <hr>Elenco: 
                <ion-label>
                  <p>Andy Samberg,Andre Braugher,Stephanie Beatriz,Terry Crews</p>
                </ion-label>
              
              <hr>Gênero:
                <ion-label>
                  <p>Comédia; Policial; Sitcom</p>
                </ion-label>
              
            
              <hr>Duração: 
                <ion-label>
                  <p>20 a 23 minutos </p>
                </ion-label>

              <hr>Emissora originais: 
                <ion-label>
                  <p>National Broadcasting Company, Fox Broadcasting Company</p>
                </ion-label>

              <hr>Sinopse:
                <ion-label>
                   <p>Jake Peralta é um detetive brilhante e ao mesmo tempo imaturo, que nunca precisou se preocupar em respeitar as regras. Tudo muda quando um capitão exigente assume o comando de seu esquadrão e Jake deve aprender a trabalhar em equipe.</p>
                </ion-label>
            </div>
          </ion-card-content>
        </ion-card-header>
      </ion-content>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-label>Home</ion-label>
            <ion-icon name="home"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="settings">
            <ion-label>Settings</ion-label>
            <ion-icon name="settings"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </div>
  </ion-split-pane>
</ion-app>




